body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.zonadibujo{
    display: flex;
    flex-wrap: wrap;
    max-width: 120px;
    max-height: 120px;
    min-height: 120px;
    min-width: 120px;
    padding: 20px;
    background-color: aliceblue;
}

.pixel{
    background-color: white;
    width: 20px;
    height: 20px;
    user-select: none;
}

.menu{
    background: linear-gradient(to right, #4DD3C0, #0da336);
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}