body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.zonadibujo{
    display: flex;
    flex-wrap: wrap;
    max-width: 120px;
    max-height: 120px;
    min-height: 120px;
    min-width: 120px;
}

.pixel{
    background-color: white;
    width: 20px;
    height: 20px;
}